# Environment variables
.env

# Generated data
gpqa_diamond.json
humanitys_last_exam.json
mmlu_pro.json
index.json
current.json

# Python
__pycache__/
*.pyc
.venv/
.venv-1/ # Just in case you have multiple virtual environments

# Node.js
node_modules/